In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
Alliance_data = pd.read_csv("alliance_v4.1_by_directed_yearly.csv")

The above data comes from here: https://correlatesofwar.org/data-sets/formal-alliances/. It is a CSV containing data on alliances between countries from the 19th Century to the present.

In [5]:
Alliance_data.head(10)

,version4id,ccode1,state_name1,ccode2,state_name2,dyad_st_day,dyad_st_month,dyad_st_year,dyad_end_day,dyad_end_month,dyad_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,year,version
0,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1816,4.1
1,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1817,4.1
2,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1818,4.1
3,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1819,4.1
4,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1820,4.1
5,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1821,4.1
6,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1822,4.1
7,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1823,4.1
8,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1824,4.1
9,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1825,4.1

In [8]:
#The data pertaining exclusively to American alliances may be extracted
US_alliance_data=Alliance_data[Alliance_data['state_name1'] == "United States of America"]
US_alliance_data.head(20)

,version4id,ccode1,state_name1,ccode2,state_name2,dyad_st_day,dyad_st_month,dyad_st_year,dyad_end_day,dyad_end_month,dyad_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,year,version
7212,85,2,United States of America,740,Japan,30,11,1908,4.0,7.0,1910.0,0,0,0,0,0.0,1.0,1908,4.1
7213,85,2,United States of America,740,Japan,30,11,1908,4.0,7.0,1910.0,0,0,0,0,0.0,1.0,1909,4.1
7214,85,2,United States of America,740,Japan,30,11,1908,4.0,7.0,1910.0,0,0,0,0,0.0,1.0,1910,4.1
7958,111,2,United States of America,200,United Kingdom,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1921,4.1
7959,111,2,United States of America,200,United Kingdom,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1922,4.1
7960,111,2,United States of America,200,United Kingdom,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1923,4.1
7961,111,2,United States of America,200,United Kingdom,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1924,4.1
7962,111,2,United States of America,200,United Kingdom,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1925,4.1
7963,111,2,United States of America,200,United Kingdom,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1926,4.1
7964,111,2,United States of America,200,United Kingdom,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1927,4.1
7965,111,2,United States of America,200,United Kingdom,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1928,4.1
7966,111,2,United States of America,200,United Kingdom,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1929,4.1
7967,111,2,United States of America,200,United Kingdom,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1930,4.1
7968,111,2,United States of America,200,United Kingdom,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1931,4.1
7969,111,2,United States of America,220,France,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1921,4.1
7970,111,2,United States of America,220,France,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1922,4.1
7971,111,2,United States of America,220,France,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1923,4.1
7972,111,2,United States of America,220,France,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1924,4.1
7973,111,2,United States of America,220,France,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1925,4.1
7974,111,2,United States of America,220,France,13,12,1921,18.0,9.0,1931.0,0,0,0,0,0.0,1.0,1926,4.1

In [9]:
#to get some insight into contemporary American Foreign Policy it will be useful to look at years after 1945
US_alliance_data=US_alliance_data[US_alliance_data['dyad_st_year'] > 1945]
US_alliance_data.head(20)

,version4id,ccode1,state_name1,ccode2,state_name2,dyad_st_day,dyad_st_month,dyad_st_year,dyad_end_day,dyad_end_month,dyad_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,year,version
35430,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1989,4.1
35431,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1990,4.1
35432,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1991,4.1
35433,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1992,4.1
35434,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1993,4.1
35435,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1994,4.1
35436,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1995,4.1
35437,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1996,4.1
35438,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1997,4.1
35439,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1998,4.1
35440,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1999,4.1
35441,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2000,4.1
35442,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2001,4.1
35443,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2002,4.1
35444,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2003,4.1
35445,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2004,4.1
35446,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2005,4.1
35447,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2006,4.1
35448,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2007,4.1
35449,210,2,United States of America,20,Canada,13,11,1989,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2008,4.1

In [34]:
US_alliance_data[US_alliance_data['state_name2'] == "Nicaragua"]

,version4id,ccode1,state_name1,ccode2,state_name2,dyad_st_day,dyad_st_month,dyad_st_year,dyad_end_day,dyad_end_month,dyad_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,year,version
36254,210,2,United States of America,93,Nicaragua,2,9,1947,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1947,4.1
36255,210,2,United States of America,93,Nicaragua,2,9,1947,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1948,4.1
36256,210,2,United States of America,93,Nicaragua,2,9,1947,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1949,4.1
36257,210,2,United States of America,93,Nicaragua,2,9,1947,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1950,4.1
36258,210,2,United States of America,93,Nicaragua,2,9,1947,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,1951,4.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36315,210,2,United States of America,93,Nicaragua,2,9,1947,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2008,4.1
36316,210,2,United States of America,93,Nicaragua,2,9,1947,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2009,4.1
36317,210,2,United States of America,93,Nicaragua,2,9,1947,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2010,4.1
36318,210,2,United States of America,93,Nicaragua,2,9,1947,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2011,4.1
36319,210,2,United States of America,93,Nicaragua,2,9,1947,NaN,NaN,2012.0,0,1,1,0,1.0,1.0,2012,4.1